body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(munay.png);
    background-size: 150%;
    animation: gradientBG 20s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.encabezado img{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-content: center;

}
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #e0f7fa;
}

.entregado {
    text-decoration: line-through;
    color: gray;
}

li img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

li .pedido-info {
    display: flex;
    align-items: center;
}

li button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

li button:hover {
    background-color: #0056b3;
}

.budin {
    border-left: 5px solid #ffeb3b;
}

.frutosSecos1 {
    border-left: 5px solid #8bc34a;
}

.frutosSecos2 {
    border-left: 5px solid #ff9800;
}

.frutosSecos3 {
    border-left: 5px solid #9c27b0;
}
